/* Reset sederhana */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 8%;
    background-color: #ffffff;

    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo {
    width: 70px;
    height: auto;
}

/* Menu */
.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

/* Link */
.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;

    transition: color 0.3s ease;
}

/* Hover */
.nav-links a:hover {
    color: #0066ff;
}

/* Active Effect */
.nav-links a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #0066ff;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Responsive */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: #f8fafc;
    color: #1e293b;
}

.hero {
    background: #012c0e;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero p {
    max-width: 700px;
    margin: auto;
}

.section {
    padding: 80px 10%;
}

.profil {
    background: #f8fafc;
}

.kegiatan {
    background: #e2e8f0;
}

.container {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    
}

.section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.kegiatan ul {
    padding-left: 20px;
}

.kegiatan li {
    list-style-type: none;
    margin-bottom: 10px;
}

.container-social{
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.social-icons {
    margin-top: 20px;
    display: inline-flex;
    gap: 100px;
    
}

/* Halaman Penerimaan */

.hero-penerimaan {
    background: #1e3a8a;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero-penerimaan h1 {
    font-size: 2.8rem;
    margin-bottom: 15px;
}
.list{
    list-style-type: none;
    margin-bottom:20px;
    margin-left: 20px;
    line-height: 1;
}
.hero-penerimaan p {
    max-width: 700px;
    margin: auto;
}

.list {
    list-style-type: none;
    margin-top: 15px;
    margin-left: 20px;
    line-height: 1.8;
}
